<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <ul>
                <li>contact</li>
                <li>offre</li>
                <li>demande</li>
                <li>mes favoris</li>
                <li>boutique</li>
            </ul>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
