{% extends 'base.html.twig' %}

{% block title %}Hello AdvertController!{% endblock %}

{% block body %}


    <form style="width: 50%; margin: 50px auto;" action="{{ path('add') }}" method="POST">
        <fieldset>
            <legend>Ajouter une Annonce</legend>

            {{ form_start(form) }}

            {{ form_widget(form) }}
            <input type="submit" value="ajouter une annonce">

            {{ form_end(form) }}



        </fieldset>
    </form>


{% endblock %}
