{% extends 'base.html.twig' %}

{% block title %}Hello AdvertController!{% endblock %}

{% block body %}

    <p class="lead"><small>Resultat de la recherche pour</small> : <strong>{{ search }}</strong></p>

    {% if(advert != null) %}
        {% for CategoryByLetter in advert %}
            <p> {{ CategoryByLetter.name }}</p>
        {%  endfor %}
    {% elseif(advert == null) %}
        <p>Aucune categorie trouvé avec cette lettre</p>
    {% endif %}


{% endblock %}